*.ko
*.mod.*
*.o
*.order
*.symvers
.*.cmd
*.mod
*.scc
*.html
*.doc
*.bat
*.doc
*.htm
*.o.d
cn1100_algo.module
libtc1126.a
tags
tmp*
*.bin
*.sh
*.sw*
tmp*
*.crf
*.d
*.o
*.axf
*.hex
*.html
*.map
*.plg
*.sct
*.tra
*.htm
*.a
stm32/Projects/TC1126Only/MDK/Debug
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
*.pub
*.dep